body{
	background:url(../imagen/image.jpeg);
	background-attachment: auto;
}
.form{
	position: relative;
	width: 500px;
	height: 600px;
	padding-left: 20px;
	padding-top: 15px;
	background-color: #e5dfcd;
	border-radius: 20px;
	margin:auto;
}
input[type=]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border:0px;
	background-color: #32A43E;
	font:14px normal normal uppercase helvetica, arial, serif;
}
input[class=.btn-2]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border:0px;
	background-color: #32A43E;
	font:14px normal normal uppercase helvetica, arial, serif;
}
.btn-3{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border:0px;
	background-color: #32A43E;
	font:14px normal normal uppercase helvetica, arial, serif;
}